// Colours

$blue: rgb(26, 122, 255);
$lightblue: #d1e4ff;
$green: #02B875;
$red: #F05D84;


@import 'alert';

@import 'form';

#app{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.link {
  border: 1px solid lightgrey;
  margin-bottom: 4px;
  display: block;
  a { padding: 8px; }
}

a { text-decoration: none; color: $blue; }

.align-items-center {
  display:flex;
  align-items: center;
}

.justify-content-end {
  display:flex;
  justify-content: flex-end;
}

.title {
  font-size: 1.4rem;
  margin-bottom:12px;
}


$hoverBG: rgba(0, 0, 0, 0.3);

.btn {
  padding: 10px;
  font-size: 1rem;
  &.green {
    background: $green;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  &.red {
    background: $red;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}