$themeBlue: #0043b2;
$themePurple: #6E248E;
$themeGreen: #38A33F;
$themeYellow: #FFE500;
$themeOrange: #D5892F;
$themeRed: #CF4A47;

.overlay{
  &.theme-default { background: #f5f7f9; }
  &.theme-blue { background: $themeBlue; }
  &.theme-green { background: $themeGreen; }
  &.theme-yellow { background: $themeYellow; }
  &.theme-orange { background: $themeOrange; }
  &.theme-purple { background: $themePurple; }
}